{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Create Check</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create Check</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Create Project</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Legal Entity</label>
                                            <input name="legal_entity" type="text" class="form-control"  value="{{ item.legal_entity }}">
                                        </div>
                                        <div class="col">
                                            <label>Portfolio</label>
                                            <input name="portfolio" type="text" class="form-control"  value="{{ item.portfolio }}">
                                        </div>
                                        <div class="col">
                                            <label>Address</label>
                                            <input name="address" type="text" class="form-control"  value="{{ item.address }}">
                                        </div>
                                        <div class="col">
                                            <label>Unit</label>
                                            <input name="unit" type="number" class="form-control"  value="{{ item.unit }}">
                                        </div>
                                        <div class="col">
                                            <label>Zip</label>
                                            <input name="zip" type="number" class="form-control"  value="{{ item.zip }}">
                                        </div>
                                        <div class="col">
                                            <label>City_state</label>
                                            <input name="city_state" type="text" class="form-control"  value="{{ item.city_state }}">
                                        </div>
                                        <div class="col">
                                            <label>Passwords</label>
                                            <input name="passwords" type="text" class="form-control"  value="{{ item.passwords }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label>Bedrooms</label>
                                            <input name="bedrooms" type="number" class="form-control"  value="{{ item.bedrooms }}">
                                        </div>
                                        <div class="col">
                                            <label>Bathrooms</label>
                                            <input name="bathrooms" type="number" class="form-control"  value="{{ item.bathrooms }}">
                                        </div>
                                        <div class="col">
                                            <label>SqFt</label>
                                            <input name="sqFt" type="text" class="form-control"  value="{{ item.sqFt }}">
                                        </div>
                                        <div class="col">
                                            <label>Job Number</label>
                                            <input name="jobNumber" type="text" class="form-control"  value="{{ item.jobNumber }}">
                                        </div>
                                        <div class="col">
                                            <label>Percent</label>
                                            <input name="percent" type="text" class="form-control"  value="{{ item.percent }}">
                                        </div>
                                        <div class="col">
                                            <label>Start Date</label>
                                            <input name="start_date" type="date" class="form-control"  value="{{ item.start_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="col">
                                            <label>End Date</label>
                                            <input name="end_date" type="date" class="form-control"  value="{{ item.end_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="col">
                                            <label>Status</label>
                                            <select name="status" class="form-control select2 select2-hidden-accessible"  id="inspection_type_select2" style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for status in status_type %}
                                                    <option value="{{ status }}" {% if status == item.status %}selected="selected"{% endif %}>{{ status }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label>PM EPI</label>
                                            <select name="pm_epi" class="form-control select2 select2-hidden-accessible"  id="inspection_type_select2" style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for pm_epi in pm_epi_list %}
                                                    <option value="{{ pm_epi.id }}" {% if pm_epi.id == item.pm_epi.id %}selected="selected"{% endif %}>{{ pm_epi }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label>Resident Manager</label>
                                            <select name="rm" class="form-control select2 select2-hidden-accessible"  id="inspection_type_select2" style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for rm in rm_list %}
                                                    <option value="{{ rm.id }}" {% if rm.id == item.rm.id %}selected="selected"{% endif %}>{{ rm }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label>Project Manager</label>
                                            <select name="pm" class="form-control select2 select2-hidden-accessible"   style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for pm in pm_list %}
                                                    <option value="{{ pm.id }}" {% if pm.id == item.pm.id %}selected="selected"{% endif %}>{{ pm }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label>Design Package</label>
                                            <select name="design_package" class="form-control select2 select2-hidden-accessible"   style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for design_package in design_package_list %}
                                                    <option value="{{ design_package.id }}" {% if design_package.id == item.design_package.id %}selected="selected"{% endif %}>{{ design_package }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label>General Contractor</label>
                                            <select name="general_contractor" class="form-control select2 select2-hidden-accessible"  id="inspection_type_select2" style="width: 100%;">
                                                <option value selected> ----- </option>
                                                {% for general_contractor in general_contractor_list %}
                                                    <option value="{{ general_contractor.id }}" {% if general_contractor.id == item.general_contractor.id %}selected="selected"{% endif %}>{{ general_contractor }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 form-group">
                                        <label>Requisition Form</label>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input name="rq" type="file" class="custom-file-input" value="{{ item.rq.file_path }}">
                                            <label class="custom-file-label">Choose file</label>
                                          </div>
                                        </div>
                                    </div>
                                     <div class="col-2 form-group">
                                        <label>Contract</label>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input name="contract" type="file" class="custom-file-input" value="{{ item.contract.file_path }}">
                                            <label class="custom-file-label">Choose file</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label>Proposal</label>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input name="proposal" type="file" class="custom-file-input" value="{{ item.proposal.file_path }}">
                                            <label class="custom-file-label">Choose file</label>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="">Description</label>
                                            <textarea name="description" class="form-control" cols="30" rows="10">{{ item.description }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}