{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
   <div class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1 class="m-0 text-dark">Project: {{ item }}</h1>
            </div>
            <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Project: {{ item }}</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div>
                  <ul class="nav nav-tabs" id="project-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="project-tabs-info-tab" data-toggle="pill" href="#project-tabs-info" role="tab" aria-controls="project-tabs-info" aria-selected="true">Info</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-inspections-tab" data-toggle="pill" href="#project-tabs-inspections" role="tab" aria-controls="project-tabs-inspections" aria-selected="false">Inspections</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-change_orders-tab" data-toggle="pill" href="#project-tabs-change_orders" role="tab" aria-controls="project-tabs-change_orders" aria-selected="false">Change Orders</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-orders-tab" data-toggle="pill" href="#project-tabs-orders" role="tab" aria-controls="project-tabs-orders" aria-selected="false">Orders</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-drawings-tab" data-toggle="pill" href="#project-tabs-drawings" role="tab" aria-controls="project-tabs-drawings" aria-selected="false">Drawings</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-permits-tab" data-toggle="pill" href="#project-tabs-permits" role="tab" aria-controls="project-tabs-permits" aria-selected="false">Permits</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="project-tabs-documents-tab" data-toggle="pill" href="#project-tabs-documents" role="tab" aria-controls="project-tabs-documents" aria-selected="false">Documents</a>
                      </li>
                    </ul>
               </div>
               <div class="tab-content" id="project-tabsContent" style="margin-top: 30px;">
                   <div class="tab-pane fade active show" id="project-tabs-info" role="tabpanel" aria-labelledby="project-tabs-info-tab">
                     {% include 'projects/tabs/project.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-change_orders" role="tabpanel" aria-labelledby="project-tabs-change_orders-tab">
                     {% include 'projects/tabs/change_orders.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-orders" role="tabpanel" aria-labelledby="project-tabs-orders-tab">
                     {% include 'projects/tabs/orders.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-inspections" role="tabpanel" aria-labelledby="project-tabs-inspections-tab">
                     {% include 'projects/tabs/inspections.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-drawings" role="tabpanel" aria-labelledby="project-tabs-drawings-tab">
                    {% include 'projects/tabs/drawings.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-permits" role="tabpanel" aria-labelledby="project-tabs-permits-tab">
                    {% include 'projects/tabs/permits.html' %}
                   </div>
                   <div class="tab-pane fade" id="project-tabs-documents" role="tabpanel" aria-labelledby="project-tabs-documents-tab">
                    {% include 'projects/tabs/documents.html' %}
                   </div>
                </div>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock content %}