{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Timesheet</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Timesheet</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 text-right p-2">
                <a href="{% url 'timesheet_create' %}" class="btn btn-success">Add</a>
            </div>
        </div>
          <div class="row">
          <div class="col-12">
          <div class="card">
              <div class="card-body">
                <table id="timesheet_table" class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                        <th>Employ</th>
                        <th>Project</th>
                        <th>Date</th>
                        <th>Clock In</th>
                        <th>Clock Out</th>
                        <th>Hours</th>
                        <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in list %}
                    <tr>
                        <td>{{ item.employ }}</td>
                        <td>{{ item.project }}</td>
                        <td><a href="{% url 'timesheet_read' item.id %}">{{ item.date|date:'m/d/Y' }}</a></td>
                        <td>{{ item.clock_in|time:'h:i a' }}</td>
                        <td>{{ item.clock_out|time:'h:i a' }}</td>
                        <td>{{ item.hours }}</td>
                        <td>{{ item.description|slice:100 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                <tfoot>
                    <tr>
                        <th>Employ</th>
                        <th>Project</th>
                        <th>Date</th>
                        <th>Clock In</th>
                        <th>Clock Out</th>
                        <th>Hours</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}