{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Documents</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Documents</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 text-right p-2">
                <a href="{% url 'document_create' %}" class="btn btn-success">Add</a>
            </div>
        </div>
          <div class="row">
          <div class="col-12">
          <div class="card">
              <div class="card-body">
                <table id="timesheet_table" class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                        <th>Number</th>
                        <th>Date</th>
                        <th>Due Date</th>
                        <th>Payee</th>
                        <th>payer</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in list %}
                    <tr>
                        <td><a href="{% url 'document_read' item.id %}">{{ item.number }}</a></td>
                        <td>{{ item.date|date:'m/d/Y' }}</td>
                        <td>{{ item.due_date|date:'m/d/Y' }}</td>
                        <td>{{ item.payee }}</td>
                        <td>{{ item.payer }}</td>
                        <td>{{ item.description|slice:100 }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                <tfoot>
                    <tr>
                        <th>Number</th>
                        <th>Date</th>
                        <th>Due Date</th>
                        <th>Payee</th>
                        <th>payer</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}