{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Order</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Order: {{ item.number }}</h3>
                            <div class="card-tools">
                                <a href="{% url 'timesheet_update' item.id %}" type="button" class="btn btn-tool" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col form-group">
                                    <label>Employ</label>
                                    {{ item.employ}}
                                </div>
                                <div class="col form-group">
                                    <label>Project</label>
                                    {{ item.project}}
                                </div>
                                <div class="col form-group">
                                    <label>Date</label>
                                    {{ item.date|date:'d/m/Y' }}
                                </div>
                                <div class="col form-group">
                                    <label>Clock In:</label>
                                    {{ item.clock_in }}
                                </div>
                                <div class="col form-group">
                                    <label>Clock Out:</label>
                                    {{ item.clock_out }}
                                </div>
                                <div class="col form-group">
                                    <label>Is Holiday:</label>
                                    {{ item.is_holiday }}
                                </div>
                                <div class="col form-group">
                                    <label>Is Weekend:</label>
                                    {{ item.is_weekend }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <div>{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}