<div class="row">
  <div class="col-12">
   <div class="card card-info">
      <div class="card-header">
         <h3 class="card-title">Change Orders</h3>
         <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
         </div>
      </div>
      <div class="card-body p-20">
         <table id="inspection_table" class="table table-bordered table-condensed">
             <thead>
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in item.change_orders.all %}
                <tr>
                    <td><a href="{% url 'change_order_read' item.id %}">{{ item.number }}</a></td>
                    <td>{{ item.date|date:'m/d/Y' }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.description|slice:100 }}</td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
</div>