<div class="row">
  <div class="col-12">
   <div class="card card-info">
      <div class="card-header">
         <h3 class="card-title">Inspections</h3>
         <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
         </div>
      </div>
      <div class="card-body p-0">
         <table class="table">
            <thead>
               <tr>
                  <th>Inspection</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               {% for inspection in item.inspections.all %}
               <tr>
                  <td><a href="{% url 'inspection_read' inspection.id %}">{{ inspection }}</a></td>
                  <td>{{ inspection.date|date:'m/d/Y' }}</td>
                  <td>{{ inspection.status }}</td>
                  <td>{{ inspection.description|slice:100 }}...</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
</div>