{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Employes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Employes</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Employes</span>
                <span class="info-box-number">
                    {{ employ_list.count }}
                </span>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Inactive Employes</span>
                <span class="info-box-number">
                    {{ inactive_count }}
                </span>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
          <form method="post">{% csrf_token %}
{#            Are you sure you want to delete "{{ object }}" ?#}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}