{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Change Order: {{ item.number }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Change Order: {{ item.number }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Change Order: {{ item.number }}</h3>
                            <div class="card-tools">
                                <a href="{% url 'change_order_update' item.id %}" type="button" class="btn btn-tool" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Number:</label>
                                {{ item.number }}
                            </div>
                            <div class="form-group">
                                <label>Status:</label>
                                {{ item.status }}
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                {{ item.date|date:'d/m/Y' }}
                            </div>
                            <div class="form-group">
                                <label>Project:</label>
                                {{ item.project }}
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <div>{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Files</h3>
                          <div class="card-tools">
                            <a href="{% url 'file_storage_assign' 'change_order' item.id %}" type="button" class="btn btn-tool" title="Upload" target="_blank" onclick="PopupCenter(this.href, 'File Upload', '500', '500')"><i class="fas fa-upload"></i></a>
                            <a type="button" class="btn btn-tool" title="ZIP"><i class="far fa-file-archive"></i></a>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>File Name</th>
                                <th>File Size</th>
                                <th>File Type</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for file in item.files.all %}
                                  <tr>
                                    <td>{{ file }}</td>
                                    <td>{{ file.file_size }}</td>
                                    <td>{{ file.file_type }}</td>
                                    <td class="text-right py-0 align-middle">
                                      <div class="btn-group btn-group-sm">
                                        <a href="{{ file.file_url }}" class="btn btn-info" target="_blank"><i class="fas fa-eye"></i></a>
                                        <a href="{% url 'file_storage_delete' file.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                      </div>
                                    </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}