<div class="row mb-3">
    <div class="col-1 offset-11 text-right">
        <a href="{% url 'timesheet_create_user' employ.id %}" class="btn btn-success">Add</a>
    </div>
</div>
<div class="row">
  <div class="col-12">
  <div class="card">
      <div class="card-body">
        <table id="timesheet_table" class="table table-bordered table-condensed">
          <thead>
            <tr>
                <th>Project</th>
                <th>Date</th>
                <th>Clock In</th>
                <th>Clock Out</th>
                <th>Hours</th>
                <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in timesheets %}
            <tr>
                <td>{{ item.project }}</td>
                <td><a href="{% url 'timesheet_read' item.id %}">{{ item.date|date:'m/d/Y' }}</a></td>
                <td>{{ item.clock_in|time:'h:i a' }}</td>
                <td>{{ item.clock_out|time:'h:i a' }}</td>
                <td>{{ item.hours }}</td>
                <td>{{ item.description|slice:100 }}</td>
            </tr>
          {% endfor %}
          </tbody>
        <tfoot>
            <tr>
                <th>Project</th>
                <th>Date</th>
                <th>Clock In</th>
                <th>Clock Out</th>
                <th>Hours</th>
                <th>Description</th>
            </tr>
        </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>