{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Employes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Employes</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Employes</span>
                <span class="info-box-number">
                    {{ employ_list.count }}
                </span>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Inactive Employes</span>
                <span class="info-box-number">
                    {{ inactive_count }}
                </span>
              </div>
            </div>
          </div>
            <div class="col-12 col-sm-6 col-md-3 offset-md-3 text-right">
                <a href="{% url 'employ_create' %}" class="btn btn-success">Add</a>
            </div>
        </div>
          <div class="row">
          <div class="col-12">
          <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="employees_table" class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for employ in employ_list %}
                    <tr>
                      <td><a href="{% url 'employ_read' employ.id %}">{{ employ.name }}</a></td>
                      <td>{{ employ.phone }}</td>
                      <td>{{ employ.email }}</td>
                      <td width="50px" align="center">{% if employ.is_active  == True %} <i class="far fa-check-circle text-success"></i> {% else %} <i class="fas fa-ban text-danger"></i> {% endif %}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}