{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Employ: {{ employ.name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Employ: {{ employ.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12">
               <div>
                  <ul class="nav nav-tabs" id="employee-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" id="employee-tabs-info-tab" data-toggle="pill" href="#employee-tabs-info" role="tab" aria-controls="employee-tabs-info" aria-selected="false">Info</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" id="employee-tabs-timesheet-tab" data-toggle="pill" href="#employee-tabs-timesheets" role="tab" aria-controls="employee-tabs-timesheets" aria-selected="true">TimeSheet</a>
                      </li>
                    </ul>
               </div>
               <div class="tab-content" id="employee-tabsContent" style="margin-top: 30px;">
                   <div class="tab-pane fade " id="employee-tabs-info" role="tabpanel" aria-labelledby="employee-tabs-info-tab">
                     {% include 'employees/tabs/empoyee.html' %}
                   </div>
                   <div class="tab-pane fade active show" id="employee-tabs-timesheets" role="tabpanel" aria-labelledby="employee-tabs-timesheet-tab">
                     {% include 'employees/tabs/timesheets.html' %}
                   </div>
                </div>
            </div>
         </div>
        </div>
    </section>
</div>

{% endblock content %}