<div class="card card-primary">
  <div class="card-header">
     <h3 class="card-title">Resident Manager</h3>
      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
      </div>
  </div>
  <div class="card-body">
     <div class="form-group">
        <label>Name:</label>
        {{ item.rm.name }}
     </div>
     <div class="form-group">
        <label>Legal Entity:</label>
         <a href="mailto:{{ item.rm.email }}">{{ item.rm.email }}</a>
     </div>
     <div class="form-group">
        <label>Portfolio:</label>
        {{ item.rm.phone }}
     </div>
  </div>
</div>