<div class="row">
    <div class="col-12">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
             <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input name="file" type="file" class="custom-file-input" multiple>
                    </div>
                </div>
                 <div style="margin-top: 10px;">
                     <input class="btn btn-primary" type="submit" value="Submit" />
                 </div>
            </div>
        </form>
    </div>
</div>