 <div class="card-body">
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                <label>Date</label>
                <input name="date" type="date" class="form-control" value="{{ item.date|date:'Y-m-d' }}">
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Status</label>
                    <select name="status" class="form-control">
                        <option value selected> ----- </option>
                        {% for status in document_statuses %}
                            <option value="{{ status }}" {% if status == item.status  or status == document_status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Type</label>
                    <select name="type" class="form-control">
                        {% if document_type %}
                            <option value="{{ document_type.id }}" selected> {{ document_type }} </option>
                        {% else %}
                            <option value selected> ----- </option>
                            {% for type in document_types %}
                                <option value="{{ type.id }}" {% if type.id == item.type.id %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <label>Amount</label>
                <input name="amount" type="number" step="any" class="form-control" value="{{ item.amount}}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="description" class="form-control" cols="30" rows="10">{{ item.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>